---
# Only the main Sass file needs front matter  (the dashes are enough)
---

@charset "utf-8";
@import "material-design-lite";
@import "syntax-highlighting";

$brand-primary: #1F3A93;
$brand-secondary: #9A12B3;
html, body {
  font-family: 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  z-index: 5;
}

.jp-action-panel {
  position: fixed !important;
  height: 40vh;
  //TODO: DRY
  @media(min-height: 800px) {
    height: calc(35vh + 64px);
  }
  margin-top: -104px !important;
}

.jp-ribbon {
  position: fixed;
  width: 100%;
  height: 40vh;
  margin-top: -64px;
  background: -webkit-linear-gradient(to top right, $brand-primary 5%, $brand-secondary 95%);
  background: linear-gradient(to top right, $brand-primary 5%, $brand-secondary 95%);
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  @media(min-height: 800px) {
    height: calc(35vh + 64px);
  }
  &:before {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    display: block;
    animation: background-shift 10s 3;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-direction: alternate;
    z-index: 4;
    background: -webkit-linear-gradient(to top right, $brand-secondary 5%, $brand-primary 95%);
    background: linear-gradient(to top right, $brand-secondary 5%, $brand-primary 95%);
  }
  .mdl-cell, .mdl-grid {
    padding: 0;
    margin: 0;

  }
}

@keyframes background-shift {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.jp-main {
  //margin-top: -35vh;
  margin-top: 40px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.jp-hero {
  min-height: 0;
  h4 {
    margin: 0 0 10px;
  }
  .jp-pill {
    margin-right: 5px;
    margin-bottom: 5px;
    background: unquote("rgb(#{$palette-blue-grey-200})");
    &:hover {
      background: unquote("rgb(#{$palette-blue-grey-300})");
    }
  }
}

.jp-me {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  background-size: 100%;
  background-image: url('/img/jpaulino.png');
}

.jp-header {
  margin: 0 auto;
  .mdl-layout__header-row {
    padding-left: 0;
  }
  &.jp-container {
    width: 100%;
  }
}

.jp-site-title {
  display: flex;
  align-items: center;
}

.jp-container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.jp-post-excerpt {
  p {
    margin-bottom: 0;
  }
}

.jp-post-content {
  .jp-post-meta {
    margin-bottom: 5px;
  }
}

.jp-post-meta {
  font-size: 14px;
  @media(min-width: 992px) {
    display: inline-block;
  }
  small {
    font-size: .85em;
  }
}

.jp-post-list {
  .jp-post-meta {
    margin-top: 5px;
    @media(min-width: 992px) {
      margin-left: 5px;
    }
  }
}

.jp-post-author {
  font-style: italic;
  text-transform: capitalize;
  margin-left: 5px;
}

.jp-content, .jp-hero {
  border-radius: 2px;
  margin-bottom: 40px !important;
  padding: 20px;
  @media (min-width: 992px) {
    padding: 20px 40px;
  }
}

.jp-layout.is-small-screen .jp-content {
  padding: 40px 28px;
}

.jp-content h3 {
  margin-top: 20px;
  margin-bottom: 30px;
}

.jp-footer {
  padding-left: 40px;
}

.jp-footer .mdl-mini-footer--link-list a {
  font-size: 13px;
}

.jp-post-list h2 {
  display: inline-block;
  font-size: 18px;
  line-height: normal;
  margin: 0;
}

.jp-post-list--categories {
  margin: 5px 0;
}

.jp-post-list {
  margin-left: 0;
  padding: 0;
  list-style: none;

  > li {
    margin-bottom: 10px;
  }
}

.jp-post {
  margin-bottom: 30px;
}

.jp-post-header {
  @media(min-width: 992px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.jp-page-tile {
  line-height: 20px;
  @media(min-width: 992px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.jp-pill-box {
  .jp-page-tile & {
    margin-top: 10px;
    @media(min-width: 992px) {
      margin-left: 15px;
      margin-top: 0;
    }
  }
}

.jp-pill {
  display: inline-flex;
  align-content: center;
  align-items: center;
  height: $badge-size;
  line-height: normal;
  border-radius: $badge-size;
  text-transform: uppercase;
  background: $brand-secondary;
  padding: 2px 8px;
  color: #FFF;
  font-size: 12px;
  transition: background .2s ease-in-out;
  .fa {
    font-size: 14px;
  }
  white-space: nowrap;
  &.active {
    background: $brand-primary;
  }
  &:hover {
    background: lighten($brand-primary, 10%);
  }
  a {
    color: #FFF;
  }
}

.mdl-cell {
  position: relative;
}

#logo {
  display: inline-block;
  color: $brand-secondary;
  font-size: 1.125em;
  line-height: normal;
  font-weight: bold;
  padding: 0;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: -0.31em;
}

a {
  .mdl-layout-title {
    color: #333;
  }
}

.mdl-layout-title:before {
  content: "{";
  color: #333;
}

.mdl-layout-title:after {
  content: "}";
  color: #333;
}

.mdl-layout-title:before,
.mdl-layout-title:after {
  position: relative;
  top: -2.36842px;
}

.mdl-layout-title:before {
  padding-right: 0.21em;
}

.mdl-layout-title:after {
  padding-left: 0.21em;
}

.mdl-layout-title {
  font-size: 2em;
  .jp-slogan {
    font-size: .85em;
    font-style: italic;
  }
}

/**
 * Code formatting
 */
pre,
code {
  font-size: 13px;
  border-radius: 3px;
  padding: 2px;
  background: #303030;
  color: #d0d0d0;

}

code {
  padding: 2px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: scroll;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
  &.output {
    margin-top: -22px;
    padding-top: 0;
  }
}

#disqus_thread {
  margin-top: 20px;
}