<div class="jp-post jp-post-excerpt">
    <div class="jp-post-header">
        <div class="jp-post-list--title">
            <h2>
                <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            <div class="jp-post-meta mdl-color-text--grey-500">
                {{ post.date | date: "%B %-d, %Y" }}
                {% if post.author %}
                <small class="jp-post-author">by {{ post.author }}</small>
                {% endif %}
            </div>
        </div>
        {% if post.categories | length %}
        <div class="jp-post-list--categories">
            {% for category in post.categories %}
            <a href="/categories/{{ category }}/">#{{category}}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <p>{{post.excerpt | remove: '
    <p>' | remove: '</p>' }}</p>
    <!--<a href="{{ post.url }}">Read more...</a>-->
</div>
