---
layout: default
---
<h2>{{ page.title }}</h2>
<div class="jp-post-content">
    <div class="jp-post-meta mdl-color-text--grey-500">
        {{ site.time | date_to_long_string }} {% if page.author %}
        <small class="jp-post-author">by {{ page.author }}</small>
        {% endif %}
    </div>
    {{ content }}
    {% if page.comments %}
    <div id="disqus_thread"></div>
    <script>
        /**
         *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
         *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
         */

        var disqus_config = function () {
            this.page.url = "{{ page.url | prepend: site.url }}/";  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = "{{ page.url | prepend: site.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        (function () {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
            var d = document, s = d.createElement('script');
            s.async = true;
            s.src = '//joelpaulino.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments
        powered by Disqus.</a></noscript>
    {% endif %}
</div>

